:root {
    --azul: #2A7AE4;
    --azul-oscuro: #4931AF;
    --blanco: #fdfdfd;
    --cedarville-cursive: 'Cedarville Cursive', cursive;
    --negro: #464646;
    --gris: #f0eff8;
    --purpura: #e2e0f2;
    --purpura-intermedio: #8e22bb;
    --raleway: 'Raleway', sans-serif;
}

.contenedor {
    color: var(--negro);
    width: 100vw;
    font-family: var(--raleway);
}

.enlace {
    color: var(--negro);
    text-decoration: none;
}

.texto-boton {
    font-style: normal;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1rem;
} 

.boton-azul {
    background-color: var(--azul-oscuro);
    padding: 0.75rem 1rem;
}

.texto-gris {
    color: var(--gris);
}

.texto-azul {
    color: var(--azul-oscuro);
}

.seccion__titulo {
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 1.614rem;
    margin-bottom: 1rem;
}

@media screen and (min-width: 769px) {
    .texto-boton {
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.188rem;
    }

    .seccion__titulo {
        font-size: 2rem;
        line-height: 2.375rem;
    }

    .centrar {
        text-align: center;
    }
}
