:root {
    --cedarville-cursive: 'Cedarville Cursive', cursive;
    --negro: #464646;
    --gris: #f0eff8;
    --purpura: #e2e0f2;
    --raleway: 'Raleway', sans-serif;
}

body {
    font-family: var(--raleway);
}

.enlace {
    color: var(--negro);
    text-decoration: none;
}