:root {
    --blanco: #fdfdfd;
    --cedarville-cursive: 'Cedarville Cursive', cursive;
    --negro: #464646;
    --gris: #f0eff8;
    --purpura: #e2e0f2;
    --raleway: 'Raleway', sans-serif;
}

body {
    font-family: var(--raleway);
}

.hoja {
    height: 100vh;
    width: 100%;
}

.contenedor-principal {
    height: 92%;
}

.enlace {
    color: var(--negro);
    text-decoration: none;
}