.encabezado {
    align-items: center;
    background-color: var(--gris);
    display: flex;
    justify-content: space-between;
    line-height: 1.188rem;
    padding: 1rem;
}

.encabezado__titulo {
    align-items: center;
    display: flex;
}

.encabezado__imagen {
    display: flex;
}

.encabezado__estrella {
    height: 16px;
    width: 16px;
}

.encabezado__estrellitas {
    display: flex;
    flex-direction: column;
}

.encabezado__estrellita {
    height: 8px;
    width: 8px;
}

.little-star {
    font-size: .5rem;
}

.encabezado__nombre {
    color: var(--negro);
    font-size: 1rem;
    font-weight: 700;
    margin-left: .5rem;
}

.encabezado__contacto {
    font-size: 0.875rem;
    font-weight: 400;
}

/* Responsive para las tabletas */
@media screen and (min-width: 576px) {
    .encabezado__contacto {
        font-weight: 700;
    }
}