.experiencia {
    background-color: var(--gris);
    padding: 2rem;
}

.experiencia__proyectos {
    display: grid;
    grid-row-gap: 4rem;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
}

.experiencia__proyecto--img {
    width: 100%;
}

.experiencia__proyecto--titulo {
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.188rem;
    margin-bottom: .5rem;
}

.experiencia__proyecto--descripcion {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1rem;
    margin-bottom: .5rem;
}

.botonera {
    display: flex;
    justify-content: flex-start;
}

.experiencia__proyecto--repositorio {
    box-sizing: border-box;
    border: 1px solid var(--azul-oscuro);
    padding: 0.75rem 1rem;
    margin-right: 1rem;
}

.experiencia__proyecto--demo {
    background-color: var(--azul);
    padding: 0.75rem 1rem;
}

/* Responsive para desktop */
@media screen and (min-width: 769px) {
    .experiencia {
        padding: 4rem 9.5rem;
    }

    .experiencia__proyecto--encriptador {
        display: flex;
    }
    
    .experiencia__proyecto--ahorcado {
        display: flex;
        flex-direction: row-reverse;
    }

    .experiencia__proyecto--tateti {
        display: flex;
    }

    .experiencia__proyecto--img {
        width: 65%;
    }

    .experiencia__contenedor {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 1rem;
    }

    .experiencia__proyecto--titulo {
        font-size: 1.375rem;
        line-height: 1.625rem;
    }
    
    .experiencia__proyecto--descripcion {
        font-size: 1rem;
        line-height: 1.188rem;
    }
}