.formacion {
    background-color: var(--purpura);
    padding: 1rem;
}

.formacion__titulo {
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 1.614rem;
    margin-bottom: 1rem;
    text-align: center;
}

.formacion__cursos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 1rem;
    justify-items: center;
}

.formacion__curso {
    width: calc(100% - 2rem);
}

.caja-imagen {
    align-items: center;
    background-color: var(--blanco);
    display: flex;
    height: 7.375rem;
    justify-content: center;
    margin-bottom: 1rem;
}

.formacion__curso--img {
    width: 65%;
}

.formacion__curso--titulo {
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.188rem;  
    margin-bottom: .5rem;
}

.formacion__curso--fecha {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1rem;
}

/* Responsive para las tabletas */
@media screen and (min-width: 576px) {
    .formacion__cursos {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
    }

    .formacion__curso-aluraoracle {
        grid-column: 1 / 2;
        grid-row: 1 /2;
    }

    .formacion__curso-utn {
        grid-column: 2 / 3;
        grid-row: 1 /2;
    }

    .formacion__curso-proyecto-programar {
        grid-column: 3 / 4;
        grid-row: 1 /2;
    }
}

/* Responsive para desktop */
@media screen and (min-width: 769px) {
    .formacion {
        padding: 4rem 9.5rem;
    }

    .formacion__titulo {
        font-size: 2rem;
        line-height: 2.375rem;
    }

    .caja-imagen {
        height: 17.875rem;
    }

    .formacion__curso--titulo {
        font-size: 1.375rem;
        line-height: 1.625rem;  
    }
    
    .formacion__curso--fecha {
        font-size: 1rem;
        line-height: 1.188rem;
    }
}