.presentacion {
    background-color: var(--gris);
    padding: 1rem;
}

.presentacion__avatar {
    border-radius: 100%;
    height: 98px;
    width: 98px;
    margin-bottom: 1rem;
}

.presentacion__titulo {
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.614rem;
    margin-bottom: 1rem;
}

.presentacion__descripcion {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.028rem;
    margin-bottom: 1rem;
}

.presentacion__enlaces {
    display: flex;
    justify-content: space-between;
}

.presentacion__texto {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1rem;
    margin-right: 0.2rem;
}

/* Responsive para las tabletas */
@media screen and (min-width: 577px) {
    .presentacion {
        display: flex;
        flex-direction: row-reverse;
    }

    .presentacion__avatar {
        height: 146px;
        width: 146px;
        margin: 0 0 0 1rem;
    }
}

/* Responsive para desktop */
@media screen and (min-width: 769px) {
    .presentacion {
        padding: 2rem 9.5rem;
    }

    .presentacion__titulo {
        font-size: 3.25rem;
        line-height: 3.813rem;
    }

    .presentacion__descripcion {
        font-size: 1.375rem;
        line-height: 1.625rem;
    }

    .presentacion__texto {
        font-size: 1rem;
        line-height: 1.188rem;
    }

    .presentacion__avatar {
        height: 368px;
        width: 368px;
    }
}