.skills {
    background-color: var(--gris);
    padding: 1rem;
}

.skills__titulo {
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 1.614rem;
    margin-bottom: 2rem;
    text-align: center;
}

.skills__tecnologias {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem 1rem;
    grid-template-rows: repeat(3, 7.375rem);
}

.skills__tecnologia {
    background-color: var(--blanco);
    padding: 0 0 1rem 1rem;
}

.skills__tecnologia--java {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.skills__tecnologia--javascript {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    grid-column: 2 / 3;
    grid-row: 1;
}

.skills__tecnologia--html {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.skills__tecnologia--sql {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.skills__tecnologia--linux {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.skills__tecnologia--css {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.skills__tecnologia--titulo {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.188rem;
    margin-top: .5rem;
}

.espaciado {
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.logo-java {
    width: 24px;
    height: 28px;
}

.logo-javascript {
    width: 28px;
    height: 28px;
}

.logo-html {
    width: 40px;
    height: 22px;
}

.logo-sql {
    width: 40px;
    height: 26px;
}

.logo-linux {
    width: 32px;
    height: 30px;
}

.logo-css {
    width: 22px;
    height: 36px;
}

/* Responsive para las tabletas */
@media screen and (max-width: 768px) {
    .skills__tecnologias {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 7.375rem);
    }

    .skills__tecnologia--java {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    
    .skills__tecnologia--javascript {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        grid-column: 2 / 3;
        grid-row: 1 /2;
    }
    
    .skills__tecnologia--html {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }
    
    .skills__tecnologia--sql {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    
    .skills__tecnologia--linux {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    
    .skills__tecnologia--css {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }
}